<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="ancarda/security-headers">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
